body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This keeps the body to the full height of the viewport */
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%; /* Example width */
    max-width: 500px; /* Maximum width */
    box-sizing: border-box; /* Ensures padding is included in the width */
}


label {
    display: block;
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
    background-color: #007bff; /* blue */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  
    .sidenav {
      height: 100%;
      width: auto;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
    }
  
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }
  
    .sidenav a:hover {
      color: #f1f1f1;
    }