body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    margin-left: 250px; /* Added to make space for the sidenav */
}

.goal-form, .goal-list {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.goal-form h2, .goal-list h2 {
    color: #333333;
}

#goalForm {
    display: flex;
    flex-direction: column;
}

#goalForm input[type="text"], #goalForm input[type="number"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

#goalForm button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#goalForm button:hover {
    background-color: #0375ee;
}

#goalsContainer {
    margin-top: 20px;
}

/* Sidebar Navigation Styles */
.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 40px 40px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* Optional: Add more professional font */
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');